.conteudo {
	-fx-background-color: #000000;
	-fx-font-family: Oswald;
}

.contador {
	-fx-text-fill: #48b2ee;
	-fx-font-size: 28px;
}

.numero {	
	-fx-text-fill: #eee;
	-fx-font-size: 22px;
}

.botoes {
	-fx-background-color: #fff;
	-fx-text-fill: #48b2ee;
	-fx-font-size: 24px;
	-fx-min-width: 60px;
	-fx-min-hight: 60px;
	-fx-background-radius: 30px;
}

.verde {
	-fx-text-fill: #4bdb82;
}

.vermelha {
	-fx-text-fill: #ee4139;
}